{% extends 'base/base.html' %} {% block content %}

<div class="contacts-box">
  <div class="first-line">
    <div class="chat">
      <ion-icon name="chatbubbles-sharp"></ion-icon>
      <h3>LIVE CHAT</h3>
      <p>Start a chat with a member of our team.</p>
      <a href="#">Start Chat</a>
    </div>
    <div class="ticket">
      <ion-icon name="folder-open-sharp"></ion-icon>
      <h3>OPEN A CASE</h3>
      <p>Just send us your questions or concerns by creating a case and we will give you the help you need.</p>
      <a href="#">Open Case</a>
    </div>
    <div class="phone">
      <ion-icon name="call-sharp"></ion-icon>
      <h3>PHONE NUMBERS</h3>
      <p>BG: +359-859-453-245</p>
      <p>USA: +1-212-456-7890</p>
      <p>UK: +44-142-339-6979</p>
      <a href="#">Call Us</a>
    </div>
  </div>
</div>

{% endblock %}
