{% extends 'base/base.html' %} {% block content %}

<div class="recipes-container">
  <div class="recipes-box">
    <h2 class="main-title">{{ main_title }}</h2>
    {% if recipes %}
    <ul>
      {% for recipe in recipes %}
      <div class="recipe">
        <div class="title-img">
          <img src="{{ recipe.photo.url }}" alt="img-{{ forloop.counter }}" />
        </div>
        <div class="description">
          <h2>{{ recipe.title }}</h2>
          <p><span>Category:</span> {{ recipe.category.name}}</p>
          <p><span>Ingredients:</span> {{ recipe.ingredients }}</p>
          <p><span>Uploaded by:</span> {{ recipe.author.profile.full_name }} / {{ recipe.author.email }}</p>
          <p><span>Uploaded on:</span> {{ recipe.created_at }}</p>
          <div class="buttons">
            <a class="not-icon-a" href="{% url 'recipe-details' recipe.pk %}"
              >Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p class="no-recipes">No recipes available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
