{% extends 'base/base.html' %} {% block content %}

<div class="login-register-box">
  <h1>Recipe Sharing Platform</h1>
  <p>
    You want to browse through thousands of different <br />
    recipes and get easy ideas for your dinner tonight?
  </p>
  <p>
    If yes, then this is your place. Please login with <br />
    your account or register if you are a new user.
  </p>
  <div class="buttons-box">
    <div><a href="{% url 'login-user' %}">Login</a></div>
    <div>OR</div>
    <div><a href="{% url 'register-user' %}">Register</a></div>
  </div>
</div>

{% endblock %}
