{% extends 'base/base.html' %} {% load static %} {% block content %}

<div class="recipe-create-box">
  <h2 class="main-title">Edit Recipe</h2>
  <div></div>
  <form
    action="{% url 'recipe-edit' recipe.pk %}"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="rmv-bck"><span>{{ form.title.label }}</span> {{ form.title }}</div>
    <div class="rmv-img rmv-bck"><span>{{ form.photo.label }}</span> {{ form.photo }}</div>
    <div class="rmv-bck"><span>{{ form.category.label }}</span> {{ form.category }}</div>
    <div class="rmv-bck"><span>{{ form.ingredients.label }}</span> {{ form.ingredients }}</div>
    <div class="rmv-bck">
      <span>{{ form.instructions.label }}</span> {{ form.instructions }}
    </div>
    {% csrf_token %}
    <div><button class="add-recipe-btn" type="submit">Edit Recipe</button></div>
  </form>
  <script src="{% static 'js/remove_img_fields.js' %}"></script>
</div>

{% endblock %}
