h1 {
    color: whitesmoke;
}

.main-title {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: rgb(1, 183, 255);
    font-weight: 700;
    font-size: 2em;
}

.recipes-container, .profile-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.recipes-container .recipes-box,
.profile-container .profile-box {
    overflow: auto;
    max-height: 70vh;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border: 2px solid whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.recipes-container .recipes-box::-webkit-scrollbar,
.profile-container .profile-box::-webkit-scrollbar {
    display: none;
}

.recipes-container .recipes-box .recipe {
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}

.recipes-container .recipes-box .recipe .title-img {
    width: 40%;
    height: 40%;
    margin: 3%;
}

.recipes-container .recipes-box .recipe .description h2 {
    margin-bottom: 5%;
}

.recipes-container .recipes-box .recipe img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.recipes-container .recipes-box .recipe .description {
    padding-top: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.recipes-container .recipes-box .recipe .description p {
    margin-top: 1%;
    overflow-wrap: break-word;
    font-weight: 500;
}

.recipes-container .recipes-box .recipe .description .buttons {
    padding-top: 5%;
    display: flex;
}

.recipes-container .recipes-box .recipe .description .buttons .icon-a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s ease;
    margin-bottom: 2%;
    margin-left: 5%;
}

.recipes-container .recipes-box .recipe .description .buttons .form {
    display: flex;
    margin-left: 5%;
}

.recipes-container .recipes-box .recipe .description .buttons .other-buttons {
    width: 70%;
}

.recipes-container .recipes-box .recipe .description .buttons .form button {
    display: inline;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    color: red;
}

.recipes-container .recipes-box .recipe .description .buttons span {
    margin-left: 5%;
}

.recipes-container .recipes-box .recipe .description .buttons button:hover {
    color: rgb(1, 183, 255);
    cursor: pointer;
}

.recipes-container .recipes-box .recipe .description .buttons .not-icon-a {
    text-decoration: none;
    color: whitesmoke;
    margin-bottom: 2%;
    padding: 1% 2%;
    border-radius: 6px;
    background-color: bisque;
    color: black;
    transition: 0.5s ease;
    width: 70%;
    text-align: center;
    font-weight: 600;
}

.recipes-container .recipes-box .recipe .description .buttons .not-icon-a:hover {
    background-color: rgb(1, 183, 255);
}

.recipes-container .recipes-box .recipe .description p span {
    color: rgb(1, 183, 255);
}

.recipes-box,
.profile-box {
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(8px);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 
    0 0 40px rgba(255, 255, 255, 0.5), 
    0 0 80px rgba(255, 255, 255, 0.5), 
    0 0 120px rgba(255, 255, 255, 0.5);
}

.no-recipes {
    text-align: center;
    padding: 5%;
}