.recipe-create-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: 5% 10%;
    background-color: rgba(0,0,0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 
    0 0 40px rgba(255, 255, 255, 0.5), 
    0 0 80px rgba(255, 255, 255, 0.5), 
    0 0 120px rgba(255, 255, 255, 0.5);
}

.recipe-create-box .rmv-bck {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
    align-items: center;
    width: 100%;
    gap: 3%;
    margin-top: 2%;
}

.recipe-create-box .rmv-bck textarea {
    height: 4em;
    width: 100%;
    resize: vertical;
    max-height: 6em;
}

.recipe-create-box .rmv-bck select, .recipe-create-box .rmv-bck input {
    width: 100%;
}

.recipe-create-box .rmv-bck span {
    width: 40%;
}

.recipe-create-box .test a {
    visibility: hidden;
    color: white;
}

.recipe-create-box .rmv-bck input, .recipe-create-box .rmv-bck textarea, .recipe-create-box .rmv-bck select {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
}

.recipe-create-box .rmv-bck select option {
    background-color: black;
}

.recipe-create-box .add-recipe-btn {
    width: 50%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 2%;
    min-height: 5vh;
    font-size: 1em;
    font-weight: 600;
    background-color: bisque;
    transition: 0.5s ease;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

.recipe-create-box .add-recipe-btn:hover,
.recipe-create-box .form-div .delete-comment-btn:hover,
.recipe-create-box .form-div .cancel-delete-comment-btn:hover {
    background-color: rgb(1, 183, 255);
}